@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,700;6..96,900&family=Inconsolata&family=Lato:wght@400;700&family=Orbitron:wght@700&family=Play&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 20px;
    background-color: aliceblue;
}
.brand-name{
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Play', sans-serif;
}
.nav-bar ul{
    display: flex;
    font-size: 1.4rem;
    gap:20px;
}
.nav-bar ul li{
    list-style: none;
}

