
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 50vw;
    height: 50vh;
    background-color:beige ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img{
    background-color: aliceblue;
}